<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../public/icons8-products-32.png" type="image/x-icon">
    <title>Productos</title>
</head>
<body>
    <div class="container">
        <h1>Productos</h1>
        <div class="crud">
            <a href="./create.html" class="btn btn-primary">Crear Producto</a>
            <a href="./update.html" class="btn btn-warning">Actualizar Producto</a>
            <a href="./delete.html" class="btn btn-danger">Eliminar Producto</a>
            <a href="./allProducts.html" class="btn btn-info">Ver Productos</a>
        </div>
    </div>
</body>
</html>